<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Images/back1.1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Images/back.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Images/backkk.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>











<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<h2 style="text-align:center; margin-top:20%; ">OFFER PRICE</h2>
</div>
<div style="margin-top:10%;">
<div class="d-flex justify-content-start" style="gap:2%;">
<div class="h-75 p-3">
<div class="card card123" style="width:15rem; ">
  <img src="~/images/birthday4.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body" >
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
</div>
</div>
<div class="h-75 p-3" >
<div class="card" style="width:15rem; gap:100px;">
  <img src="~/images/birthday2.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
<div class="h-75 p-3">
<div class="card right" style="width:15rem;">
  <img src="~/images/birthday flw.jpeg"   width=40% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
  
</div>
</div>


  